.component4-container {
  width: 324px;
  height: 140px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.component4-text {
  top: 29px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.component4-text1 {
  font-weight: 800;
}
.component4-pngwing1 {
  top: 0px;
  right: 0px;
  width: 93px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.component4-root-class-name {
  top: 113px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}
.component4-root-class-name1 {
  top: 113px;
  left: 43px;
  position: absolute;
}

.login3-container {
  min-height: 100vh;
}
.login3-frame3 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.login3-maskgroup {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  position: relative;
  align-self: flex-start;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login3-shalala1 {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: stretch;
  border-color: transparent;
}
.login3-navlink {
  display: contents;
}
.login3-component1 {
  top: 513px;
  left: 0px;
  right: 0px;
  width: 75px;
  height: 75px;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
.login3-textinput {
  top: 429px;
  left: 0px;
  color: #000000;
  right: 0px;
  width: 300px;
  height: 50px;
  margin: auto;
  z-index: 100;
  position: absolute;
  align-self: center;
  caret-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  padding-left: 40px;
  border-radius: 50px;
  outline-color: rgba(162, 32, 32, 0);
}
