<div>
  <link href="./component5.css" rel="stylesheet" />
  <div class="component5-container">
    <div class="component5-shalala1">
      <img
        alt="Shalala1I572"
        src="/playground_assets/shalala1i572-1w0vu-200w.png"
        class="component5-shalala11"
      />
    </div>
    <div class="component5-rectangle11">
      <img
        alt="Rectangle11I572"
        src="/playground_assets/rectangle11i572-x7qnb-300h.png"
        class="component5-rectangle111"
      />
    </div>
  </div>
</div>
