<div>
  <link href="./component8.css" rel="stylesheet" />
  <div class="component8-container">
    <div class="component7-container component7-root-class-name">
      <a href="cart.html" class="component7-navlink">
        <img
          alt="pngwing24195"
          src="/playground_assets/pngwing24195-f5xi-200h.png"
          class="component7-pngwing2"
        />
      </a>
      <img
        alt="image14192"
        src="/playground_assets/image14192-g708-200h.png"
        class="component7-image1"
      />
    </div>
    <div class="component8-container1"></div>
  </div>
</div>
