.component1-container {
  width: 341px;
  height: 165px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.component1-image1 {
  top: 39px;
  left: 0px;
  width: 341px;
  height: 126px;
  position: absolute;
  border-color: transparent;
}
.component1-text {
  top: 0px;
  left: 74px;
  color: rgba(245, 245, 245, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Fontdiner Swanky;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.component1-root-class-name {
  top: 180px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}
